@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
	--primaryColor: #90caf9;
	--secondaryColor: #bbdefb;
	--bgColor: #c0e1f7;
	--mainWhite: rgb(248, 247, 247);
	--mainBlack: #222;
	--mainGrey: #ececec;
	--mainSpacing: 0.1rem;
	--radius: 0.5rem;
	--mainTransition: all 0.3s linear;
}
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: var(--mainBlack);
	background: var(--bgColor);
	font-family: "Lato", sans-serif;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
/* --------------- Navbar ---------------- */
.navbar {
	position: relative;
	height: 60px;
	width: 100%;
	background: #e3f2fd;
	display: flex;
	justify-content: center;
	justify-items: center;
	transition: var(--mainTransition);
}
.show {
	height: 80vh;
}
.links {
	width: 80%;
	display: grid;
	grid-auto-rows: 70px;
	justify-content: center;
	visibility: hidden;
}
.links li {
	margin-top: 4rem;
	width: 100%;
	text-align: center;
}
.links li a {
	font-family: "Lato", sans-serif;
	letter-spacing: .25rem;
	display: block;
	font-size: 1.2rem;
	padding: .5rem;
	text-transform: capitalize;
	color: #263238;
	transition: var(--mainTransition);
}
.links li a:hover {
	color: #f57f17;
	transform: translateX(2%);
}
.nav-icon,
.cart-plus {
	display: block;
	position: absolute;
	left: 15px;
	top: 6px;
	font-size: 1.5rem;
	color: #f57f17;
	transition: var(--mainTransition);
}

.cart-btn {
	color: #f57f17;
	width: 3rem;
	position: fixed;
	top: 8px;
	right: 18px;
	cursor: pointer;
	z-index: 2;
}

.nav-icon:hover,
.cart-plus:hover {
	transform: scale(1.2);
	transition: var(--mainTransition);
}

.cart-items {
	position: absolute;
	top: -4px;
	right: -8px;
	background: #1565c0;
	padding: 0 5px;
	border-radius: 30%;
	color: var(--mainWhite);
}
.hero {
	min-height: calc(100vh - 60px);
	background: url("./images/pexels-photo-3699434.jpeg") center/cover no-repeat;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	transition: var(--mainTransition);
}
.banner {
	max-width: 350px;
	position: relative;
	text-align: center;
	background: rgba(3, 3, 3, 0.6);
	display: block;
	padding: 2rem;
	margin-top: 4rem;
	-webkit-transition: var(--mainTransition);
	-ms-transition: var(--mainTransition);
	-moz-transition: var(--mainTransition);
	-o-transition: var(--mainTransition);
	transition: var(--mainTransition);
}
#logo {
	width: 60px;
	height: 60px;
	border: 2px solid #f57f17;
	border-radius: var(--radius);
}

.banner-title {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: var(--mainSpacing);
	color: var(--mainGrey);
}
.title h2 {
	text-align: center;
	text-transform: uppercase;
}
.title span {
	color: #bf360c;
}
.section {
	padding-bottom: 5rem;
	min-height: 100vh;
}

#roux {
	color: #bf360c;
	font-family: 'Vibes', cursive;
}
.btn {
	text-transform: uppercase;
	background: transparent;
	color: #222;
	padding: 0.375rem 0.75rem;
	letter-spacing: var(--mainSpacing);
	display: inline-block;
	font-size: 0.875rem;
	border: 2px solid #222;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: var(--radius);
	transition: var(--mainTransition);
}
.btn-white {
	color: #fff;
	border-color: #fff;
	border-radius: 0;
	padding: 0.5rem 1rem;
}
.btn:hover {
	background-color: #fff;
	color: hsla(182, 63%, 54%);
}
.products {
	padding: 4rem 0;
	text-align: center;
	color: #37474f;
	text-transform: capitalize;
}
.section-title h2 {
	font-family: 'Vibes', cursive;
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 5rem;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}
.products-center {
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-column-gap: 1.5rem;
	grid-row-gap: 2rem;
}
.img-container {
	position: relative;
	overflow: hidden;
}
.bag-btn {
	position: absolute;
	top: 70%;
	right: 0;
	background: var(--primaryColor);
	border: none;
	text-transform: uppercase;
	padding: 0.5rem 0.75rem;
	letter-spacing: var(--mainSpacing);
	font-weight: bold;
	transform: translateX(101%);
	cursor: pointer;
	transition: var(--mainTransition);
}
.bag-btn:hover {
	color: var(--mainWhite);
	background-color: #0b52a3;
}
.fa-shopping-cart {
	margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
	transform: translateX(0);
}
.product-img {
	display: block;
	width: 100%;
	min-height: 12rem;
	transition: var(--mainTransition);
}
.curtain,
.img-container:hover .product-img {
	opacity: 0.5;
}

.product h3 {
	text-transform: capitalize;
	font-size: 1.1rem;
	margin-top: 1rem;
	letter-spacing: var(--mainSpacing);
	text-align: center;
}

.products h4 {
	margin-top: 0.7rem;
	letter-spacing: var(--mainSpacing);
	color: #22669e;
	text-align: center;
}

/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	visibility: hidden;
	transition: var(--mainTransition);
}
.containerCart {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 3rem;
}
.cart {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	z-index: 3;
	background: url(./images/pexl.jpeg) center/cover no-repeat;
	padding: 1.5rem;
	transform: translateX(100%);
	transition: var(--mainTransition);
}
.showCart {
	transform: translateX(0);
}
.transparentBcg {
	visibility: visible;
}
.up {
	position: -webkit-sticky;
	display: block;
	display: grid;
	place-items: center;
	width: 1.5rem;
	height: 1.5rem;
	position: sticky;
	top: 10px;
	left: 10px;
	font-size: 1.3rem;
	background-color: #f57f17;
	z-index: 1;
	border-radius: var(--radius);
	-webkit-animation: grow 2s ease-in-out infinite;
	animation: grow 2s ease-in-out infinite;
	transition: var(--mainTransition);
}
@-moz-keyframes grow {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
@-webkit-keyframes grow {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes grow {
	100% {
		transform: scale(1.2);
	}
}
.up:hover {
	transform: scale(1.1);
}
.up:focus {
	background-color: ;
}

@media screen and (min-width: 768px) {
	.cart {
		width: 30vw;
		min-width: 450px;
	}
	.navbar {
		height: 60px;
	}
	.links {
		display: flex;
		visibility: visible;
	}
	.links li {
		width: 150px;
		margin: 0 .1rem;
	}
	.links li a {
		padding: .5rem .1rem;
		margin: .5rem .1rem;
	}
	.nav-icon {
		cursor: not-allowed;
	}
	.nav-icon {
		visibility: hidden;
	}
	#logo {
		position: absolute;
		top: 0;
		left: 5px;
	}
}

.close-cart {
	position: absolute;
	top: 22px;
	left: 25px;
	color: #c1dce9;
	font-size: 1.7rem;
	cursor: pointer;
}
.cart h2 {
	font-family: 'Vibes', cursive;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: var(--mainSpacing);
	background-color: rgba(0, 0, 0, 0.7);
	color: #cfd8dc;
}
/*---------- Cart Item -------------------- */
.cart-item {
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr auto;
	grid-column-gap: 1.5rem;
	margin: 1.5rem 0;
}
.cart-item img {
	width: 75px;
	height: 75px;
}
.cart-item h4 {
	color: var(--secondaryColor);
	font-size: 0.85rem;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
	color: var(--mainGrey);
	margin: 0.5rem 0;
	letter-spacing: var(--mainSpacing);
}
.item-amount {
	text-align: center;
	color: var(--mainGrey);
}
.remove-item {
	color: #d32f2f;
	cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
	color: var(--primaryColor);
	cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
	letter-spacing: var(--mainSpacing);
	text-align: center;
	background: rgba(0, 0, 0, 0.7);
}
.cart-footer h3 {
	color: #cfd8dc;
	text-transform: capitalize;
	margin-bottom: 1rem;
}
.cart-total {
	color: var(--mainWhite);
}
.pay-btn {
	width: 12rem;
	padding: .7rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	letter-spacing: var(--mainSpacing);
	font-size: .8rem;
	background: #2cc433;
	border: transparent;
	color: #ebebeb;
	cursor: pointer;
	outline: none;
	transition: var(--mainTransition);
}
.clear-btn {
	width: 8rem;
	padding: .4rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	letter-spacing: var(--mainSpacing);
	font-size: .6rem;
	border: transparent;
	background: var(--mainGrey);
	color: #b71c1c;
	cursor: pointer;
	transition: var(--mainTransition);
}
.clear-btn:hover {
	background-color: #b71c1c;
	color: var(--mainGrey);
}
.pay-btn:hover {
	color: #fff;
	background-color: #16aa1d;
}
.pay-btn:focus {
	background-color: #118316;
}
.hide {
	display: none;
}
footer {
	background: #455a64;
	padding: 3rem 1rem;
}
footer p {
	color: var(--mainWhite);
	text-align: center;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
	margin-bottom: 0;
}
